body{
   background-color: #1E90FF; 
}

h1 {
    color: #fff;
    text-align: center;
}


h3 {
    color: #000;
    
}

a {
    color: #fff;
}

.iniciar {
    
  
}

.cadastro {
    width: 80%;
    height: 50%;
    display: block;
    text-align: center;
    background-color: #3A5FCD;
    border: 5px solid #fff;
    border-radius: 30px;
    margin: 1% 10% 0% 10%;
    padding: 4%;
   
}

#iniciar {
    width: 80%;
    height: 80%;
    display: block;
    margin: 3%;
    border-radius: 100%;
    
}